.container {
  padding: 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container span,
.container a {
  display: block;
}

.title {
  font-size: var(--fs-small-text);
  color: #7c7c7c;
  margin-bottom: 1.2rem;
}

.module-name {
  font-size: var(--fs-mid-small-text);
  color: var(--black-color);
  margin-bottom: 1.2rem;
}

.activity-name,
.button {
  font-weight: 500;
}

.activity-name {
  font-size: var(--fs-big-text);
  color: var(--light-blue-color);
  margin-bottom: 0.6rem;
}

.progress {
  font-size: var(--fs-mid-text);
  color: var(--dark-dark-gray);
  margin-bottom: 1.2rem;
}

.button {
  font-size: var(--fs-mid-small-text);
  background-color: var(--main-blue-color);
  color: var(--white-color);
  padding: 1.2rem 1.2rem;
  border-radius: 1.2rem;
  align-self: flex-end;
  transition: background-color 0.23s linear;
}

.button:hover {
  background-color: #445a6f;
}

.no-results-message {
  color: var(--light-blue-color);
  font-weight: 300;
  margin-bottom: auto;
  margin-top: auto;
}
