button {
    border-radius: 18px;
    padding: 18px 50px;
    border: none;
    height: 65px;
    font-size: var(--fs-mid-small-text);
    transition: transform 0.5s, opacity 0.5s;
}

button:hover:not(:disabled) {
    cursor: pointer;
    filter: brightness(0.75);
    transform: scale(1.05);
}

button:disabled,
button[disabled]{
    opacity: 0.5;
    transform: scale(0.90)
}

.sidebar {
    background-color: var(--white-color);
    color: var(--sec-blue-color);
    width: 240px;
}

.authentication {
    background-color: var(--sec-blue-color);
    color: var(--white-color);
    max-width: 270px;
}

