button {
    border-radius: 18px;
    padding: 18px 50px;
    border: none;
    height: 65px;
    font-size: var(--fs-mid-small-text);
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    filter: brightness(0.75);
    transform: scale(1.02);
}

.sidebar {
    background-color: var(--white-color);
    color: var(--sec-blue-color);
    width: 240px;
}

.authentication {
    background-color: var(--sec-blue-color);
    color: var(--white-color);
    width: 270px;
}

