.nav-bar {
  width: 8rem;
  height: 100vh;
  background: var(--blue-gradient);
  position: fixed;
  top: 0;
}

.content {
  width: calc(100% - 8rem);
  margin-left: 8rem;
}

@media (max-width: 60em) {
  .nav-bar {
    width: 0;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}
