.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: var(--fs-big-title);
    text-align: center;
    margin-bottom: 1rem;
}

.inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
}

.halfInput {
    grid-column: span 1;
}

.singleInput {
    grid-row: span 2;
    grid-column: span 2;
}

button {
    margin-top: 2rem;
}

@media (max-width: 80em) {
    .halfInput {
        grid-row: span 2;
        grid-column: span 2;
    }
}

@media (max-width: 60em ) {
    .form {
        flex-grow: 0;
        padding: 0 2rem;
    }
    .inputs {
        width: 80%;
    }    
}
