.error {
  background-color: var(--middle-red);
}

.success {
  background-color: var(--dark-green);
}

.toast {
  position: fixed;
  top: -15%;
  left: 50%;
  z-index: 9000;
  transform: translateX(-50%);
  transition: top 1s;
  padding: 1.5rem 4rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0 2rem #999;
  color: var(--white-color);
  text-align: left;
}

.open {
  top: 0;
}

.toast-title {
  font-weight: bold;
  font-size: var(--fs-small-text);
}

.toast-message {
  font-size: var(--fs-small-small-text);
  white-space: nowrap;
}
