.container {
  width: 100%;
  height: 30rem;
  background-color: var(--light-gray);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-bottom: 1.2rem;
}

.title {
  margin-bottom: 0.6rem;
  font-size: var(--fs-sub-sub-title);
}

.description {
  margin-bottom: 1.2rem;
  font-size: var(--fs-small-text);
}
