.container {
  padding: 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-header h2 {
  font-size: var(--fs-big-text);
  font-weight: 400;
}

.up-down {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 6.4rem;
  padding: 1.2rem 0.6rem;
}

.up-down svg {
  position: absolute;
  width: 6.4rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.up-down span {
  font-size: var(--fs-small-text);
  color: var(--dark-dark-gray);
}

.up {
  border-bottom: 0.05rem solid var(--black-color);
}

.down {
  border-top: 0.05rem solid var(--black-color);
}

.position-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-container span:first-child {
  font-size: 9rem;
}

.position-container span:last-child {
  font-size: var(--fs-mid-text);
  color: var(--dark-dark-gray);
  margin-bottom: 3.6rem;
}

.button {
  font-size: var(--fs-mid-small-text);
  background-color: var(--main-blue-color);
  color: var(--white-color);
  padding: 1.2rem 1.6rem;
  border-radius: 1.2rem;
  align-self: center;
  transition: background-color 0.23s linear;
}

.button:hover {
  background-color: #445a6f;
}
