
.leaderboard-container {
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



@media (max-width: 45em) {
    .leaderboard-container {
        padding: 2rem 2.5rem;
    }
}
@media (max-width: 30em) {
    .leaderboard-container {
        padding: 2rem 1;
    }
}