input {
    background-color: var(--light-gray);
    border-radius: 18px;
    border: none;
    height: 75px;
    width: 100%;
    padding: 20px;
    font-size: var(--fs-mid-small-text);
}

label {
    margin: 0 10px 10px 0;
    display: inline-block;
    font-size: var(--fs-mid-small-text);
}

.inputField {
    margin: 1rem 0;
}

.error {
    background-color: #FED6D7;
    color: #822727;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

.correct {
    background-color: #C6F6D4;
    color: #21543D;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

.hidden {
    display: none;
}