input {
  background-color: var(--light-gray);
  border-radius: 2rem;
  border: none;
  height: 8rem;
  width: 100%;
  padding: 20px;
  font-size: var(--fs-mid-small-text);
}

.label-container {
  margin-bottom: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

label {
  margin: 0 1.5rem;
  display: inline-block;
  font-size: var(--fs-mid-small-text);
}

.inputField {
  margin: 1rem 0;
}

span {
  text-align: center;
  font-size: var(--fs-small-small-text);
  transition: all 0.7s ease-out;
}

.error, .correct {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  animation-name: showFeedback;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

.error {
  background-color: #FED6D7;
  color: #822727;
}

.correct {
  background-color: #C6F6D4;
  color: #21543D;
}

@keyframes showFeedback {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--light-gray) inset;
  -webkit-text-fill-color: inherit ;
  background-color: var(--light-gray);
}

@media (max-width: 80em ) {
  input {
    height: 7rem;
  }
}

@media (max-width: 60em ) {
  input {
    height: 6rem;
  }
}