.container {
    margin: 2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 4rem;
}

@media (max-width : 60em) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width : 30em) {
    .container {
        grid-template-columns: 1fr;
    }
}

.title {
    font-weight: 500;
    font-size: var(--fs-mid-small-text)
}

.description {
    font-size: var(--fs-small-text);
    color: #2D2D2D;
}

.card {
    min-height: 20rem;
    padding: 3rem 4rem;
    border-radius: 1rem;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.option {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}