.icon {
  padding: 0.4rem;
  border-radius: 100px;
  transition: background-color 0.23s linear;
}

.icon:hover,
.icon:focus {
  background-color: var(--light-light-blue-color);
}

.icon svg {
  width: 3.2rem;
  height: 3.2rem;
}

.container,
.section {
  max-width: 100%;
  width: 100%;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.container {
  margin-top: 4.8rem;
  margin-bottom: 3.6rem;
  display: grid;
  grid-template-rows: 50rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.8rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
}

.input {
  margin: 0;
}

.input div:first-child {
  margin-bottom: 0;
}

.input label {
  margin-left: 5px;
}

.input input {
  height: 4rem;
  background-color: var(--white-color);
  border: 1px solid #b2b3b7;
  border-radius: 10px;
  padding: 2.4rem 1.2rem;
}

.autocomplete {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.2rem;
}

.autocomplete ul {
  background-color: var(--white-color);
}

.days-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.add-question-container {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.submit-container {
  margin-top: auto;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 2.4rem;
}

.number-of-questions {
  font-size: var(--fs-mid-text);
}

.question {
  display: flex;
  flex-direction: column;
}

.question-container {
  height: 100%;
  list-style: none;
  overflow-y: auto;
  border: 1px solid #b2b3b7;
}

@media (max-width: 66.75em) {
  .input label {
    font-size: 1.6rem;
  }
}

@media (max-width: 60em) {
  .container {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .question-container {
    height: 50rem;
  }

  .question {
    margin-top: 2.4rem;
  }

  .submit-container {
    margin-top: 2.4rem;
  }
}
