.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container span {
  font-size: var(--fs-big-text);
  font-weight: 500;
  color: var(--dark-dark-gray);
  text-align: center;
}
