.tags-container {
    display: flex;
    column-gap: 2.5%;
    margin-bottom: 2.4rem;
}

.topic, .level {
    padding: 0.5rem 1rem;
    border-radius: 1.2rem;
    font-size: var(--fs-small-small-text);
    color: var(--white-color);
}

.topic {
    background-color: var(--light-blue-color);
}

.easy {
    background-color: var(--dark-green);
}

.medium {
    background-color: #edc168;
}

.hard {
    background-color: var(--middle-red);
}