.assignment-container {
  width: 100%;
}

div .assignment {
  width: 100%;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
}

div .assignment-info {
  display: block;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

div .assignment-button-controllers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

div .select-question-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1rem;
  scroll-behavior: smooth;
}

div .question-container {
  background-color: var(--light-gray);
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
}

div .code {
  padding: 1.2rem;
}

@media (max-width: 40em) {
  div .assignment {
    padding: 3rem 3rem;
  }
  .assignment-container {
    width: 100vw;
  }
  div .question-container {
    padding: 2rem;
  }
}

@media (max-width: 60em) {
  .assignment-container {
    width: 100vw;
  }
}
