.assignment-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.assignment-header hr {
  margin-top: 1rem;
  border: 0.05rem solid black;
}

.assignment-header h1 {
  font-weight: 300;
  font-size: var(--fs-sub-sub-title);
}

.nav {
  flex-direction: column;
  align-items: normal;
}

.nav + hr {
  margin-top: 0;
}
