.authentication-hero {
  width: 48rem;
  height: 100vh;
  padding: 0 5rem;
  background: var(--blue-gradient);
  /* position: relative; */
  left: calc(100vw - 48rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 0;
}

.sign-up {
  left: 0;
  top: 0;
}

/* .slidebar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--blue-gradient);
  z-index: -1;
  display: flex;
  justify-content: center;
  padding-top: 44rem;
} */

.slidebar button {
  z-index: 1;
}

.title {
  text-align: center;
  font-size: var(--fs-sub-title);
  font-weight: 700;
  color: var(--white-color);
  margin-top: 32rem;
  margin-bottom: 2rem;
}

.hero-content {
  text-align: center;
  font-size: var(--fs-mid-text);
  font-weight: 500;
  color: var(--white-color);
}