.authentication-hero {
  flex-basis: 48rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  order: 1; 
}

.sign-up {
  order: -1;
}

.slidebar {
  width: 48rem;
  height: 100vh;
  position: absolute;
  left: calc(100% - 48rem);
  transition: left 1s;
  background: var(--blue-gradient);
  display: flex;
  justify-content: center;
  padding-top: 44rem;
}

.sign-up .slidebar {
  left: 0;
}

.hero-content-container {
  position: relative;
}

.title {
  text-align: center;
  font-size: var(--fs-sub-title);
  font-weight: 700;
  color: var(--white-color);
  margin-top: 32rem;
  margin-bottom: 2rem;
}

.hero-content {
  text-align: center;
  font-size: var(--fs-mid-text);
  font-weight: 500;
  color: var(--white-color);
}