.authentication-container {
  width: 100%;
  display: flex;
  position: relative;
}

@media (max-width: 75em ) {
  .authentication-container {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
  }
}