@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* - SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */

/**************************/
/* GENERAL */
/**************************/
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: var(--black-color);
}

:root {
  --ff-main: "Montserrat";

  --main-blue-color: #02203c;
  --sec-blue-color: #15314b;
  --dark-gray: #bfbfbf;
  --light-gray: #f5f2f2;
  --light-blue-color: #0060b9;
  --light-red: #FED6D7;
  --middle-red: #d9534f;
  --dark-red: #822727;
  --light-green: #C6F6D4;
  --dark-green: #21543D;

  --black-color: #2d2d2d;
  --white-color: #ffffff;

  --blue-gradient: linear-gradient(
    180deg,
    #02203c 0%,
    #0060b9 100%,
    #15314b 100%
  );

  --fs-big-title: 5rem;
  --fs-title: 4.4rem;
  --fs-sub-title: 4rem;
  --fs-sub-sub-title: 2.8rem;

  --fs-big-text: 2.4rem;
  --fs-mid-text: 2rem;
  --fs-mid-small-text: 1.8rem;
  --fs-small-text: 1.6rem;
  --fs-small-small-text: 1.4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/**************************/
/* BELOW 1344px /smaller desktops */
/**************************/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px /landscape tablets */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 940px /  tablets */
/**************************/
@media (max-width: 59em) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }
}

/**************************/
/* BELOW 700px /  smaller tablets */
/**************************/
@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px /  phones */
/**************************/
@media (max-width: 34em) {
}

/**************************/
/* BELOW 375px /  phones */
/**************************/
@media (max-width: 23em) {
}
