.radioInput {
    margin-top: 0.8rem;
}

.radioInput :hover {
    cursor: pointer;
}

.radioInput label {
    border-radius: 2rem;
    text-align: center;
    background-color: var(--white-color);
    font-weight: 400;
    font-size: var(--fs-mid-text);
    margin-left: 1rem;
    padding: 0 2rem;
}

.radioInput input[type="radio"]:checked + label {
    color: white;
    font-weight: bold;
    /* background-color: #0060b9; */
    background-color: var(--sec-blue-color);
}

/* Added for accesibility */
.radioInput input[type="radio"]:focus + label {
    color: white;
    font-weight: bold;
    background-color: var(--sec-blue-color);
    /* background-color: #0060b9; */
}